<!DOCTYPE html>
</html>
    <head>
        <title>Power Up</title>
        <link href="/../css/all.css" rel="stylesheet">
        <script type="text/javascript" src="/../js/all.js"></script>
    </head>
    <body>
        <div id="wrapper">
<!--
            <div class="page-header"><h2><%=page_title%></h2></div>
-->
            <div class="page-container">


    <div class="container">
        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->
<div class="container provider_detail" itemscope="" itemtype="http://schema.org/LocalBusiness">
    <div class="row">
        <div class="span12">
            <h1>
                      <div class="logo pull-left">
                        <img alt="" itemprop="photo" src="ClassSchedule_files/stringio.txt">
                      </div>
                   Sutton Swim School
            </h1>

            <div class="muted">
                10455 Bandley Drive, Cupertino, CA 95014 • (408) 996-9800<br>
                Everything is about the kids.

            </div>

        </div> <!-- .span12 -->
    </div> <!-- .row -->

<div class="row">

            <div class="subsection">
              <!-- Display discounts that are current or have expired a month ago -->

            </div>

          </div>

